.contentBox {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
}

.contentBox button {
  align-self: flex-start;
}

.formBox {
  width: 60%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* tablets and smaller */
@media (max-width: 768px) {
  .formBox {
    width: 80%;
  }
}

/* phones */
@media (max-width: 480px) {
  .formBox {
    width: 100%;
  }
}
