.appDescriptionBox {
  margin-bottom: 2.4rem;
}

.appDescriptionBox h2,
.featuresTitle {
  margin-bottom: 0.8rem;
}

.featureDescriptionBox {
  margin-bottom: 0.8rem;
}

.featureName {
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.arrIcon {
  margin: 0 0.4rem;
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease;
  margin-left: 1.2rem;
}

.wrapper.open {
  grid-template-rows: 1fr;
}

.details {
  overflow: hidden;
}
