.btn {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-contrast);
  white-space: nowrap;
  border: none;
  background-color: var(--purple-contrast);
  padding: 0.8rem;
  cursor: pointer;
}

.addMore {
  margin-left: auto;
  margin-bottom: 0.8rem;
}

.plain {
  color: var(--text-primary);
  background-color: transparent;
}

.lowkey {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-primary);
  padding: 0.2rem 0.4rem;
  background-color: transparent;
}

.central {
  justify-self: center;
}

.subtle {
  color: var(--text-primary);
  background-color: var(--purple-accent);
}

.delete {
  background-color: var(--red);
  justify-self: center;
}

.logout {
  color: var(--text-primary);
  border: 0.2rem solid var(--text-primary);
  background-color: transparent;
  justify-self: end;
}
