.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem 0.4rem;
  /* background-color: indianred; */
}

.logoIcon {
  width: 8rem;
  height: auto;
}

.longLogoBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.4rem 0.4rem;
  /* background-color: indianred; */
}

.longLogoIcon {
  height: 2.8rem;
  width: auto;
}
