.wrapper {
  /* display: grid; */
  position: relative;
  margin: 0 auto;
}

.foreground {
  position: relative;
}

.dictionaryName {
  display: block;
  width: fit-content;
  margin-left: auto;
  font-weight: 600;
  font-size: 1.6rem;
  color: inherit;
  border-radius: 0.4rem;
  background-color: var(--purple-medium);
  padding: 0.4rem 0.2rem;
  text-decoration: none;
}

.container {
  width: 100%;
  max-height: 90%;
  /* background-color: orange; */
}

.randomResults {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;

  opacity: 0.5;
  pointer-events: none;
}

.randomResult {
  border: 0.1rem solid var(--purple-medium);
  border-bottom: none;
  padding: 0.4rem 1.6rem;

  /* cursor: pointer; */
}

.queryBox {
  width: 15rem;
  text-align: center;
  border-radius: 0 0.8rem 0.8rem 0.8rem;
  padding: 0.8rem;
  margin: 4rem auto;
  background-color: var(--blue-accent);
}

.searchLabel {
  font-family: "M PLUS 1 Code", "Beiruti", "Asap Condensed", sans-serif;
  text-align: center;
  font-size: 3.125rem;
  margin-bottom: 2.4rem;
}

.inputField {
  width: 100%;
  /* font-size: 1.6rem; */
}

.suggestedResults,
.randomResults {
  list-style: none;
}

/* .randomResults,
.foreground {
  grid-row: 1;
  grid-column: 1;
} */

.suggestedResult {
  border: 0.1rem solid #000;
  border-bottom: none;
  padding: 0.4rem 0.8rem;

  cursor: pointer;
}

.randomResults li:last-child,
.suggestedResults li:last-child {
  border-bottom: 0.1rem solid #000;
}

.suggestedWord {
  font-size: 1.8rem;
}

.suggestedDefinition {
  color: #777;
}
