.wrapper {
  /* display: grid; */
  position: relative;
}

.foreground {
  position: relative;
}

.dictionaryName {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: right;
}

.container {
  width: 100%;
  height: 90%;
  background-color: orange;
}

.randomResults {
  width: 100%;
  height: 100%;
}

.queryBox {
  width: 15rem;
  margin: 4rem auto;
  text-align: center;
  background-color: skyblue;
}

.searchLabel {
  font-size: 2.4rem;
  /* margin-bottom: 2.4rem; */
}

.inputField {
  width: 100%;
  /* font-size: 1.6rem; */
}

.suggestedResults,
.randomResults {
  list-style: none;
}

/* .randomResults,
.foreground {
  grid-row: 1;
  grid-column: 1;
} */

.randomResults {
  position: absolute;
  inset: 0;

  opacity: 0.5;
  pointer-events: none;
}

.randomResult {
  border: 0.1rem solid #000;
  border-bottom: none;
  padding: 0.4rem 1.6rem;

  /* cursor: pointer; */
}

.suggestedResult {
  border: 0.1rem solid #000;
  border-bottom: none;
  padding: 0.4rem 0.8rem;

  cursor: pointer;
}

.randomResults li:last-child,
.suggestedResults li:last-child {
  border-bottom: 0.1rem solid #000;
}

.suggestedWord {
  font-size: 1.8rem;
}

.suggestedDefinition {
  color: #777;
}
