.settingsBox {
  list-style: none; /* temporary to remove warnings */
}

.settingsTitle {
  text-align: center;
  margin: 1.2rem 0 2.4rem 0;
}

.settingsButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.settingsItemList {
  list-style: none;
}

.settingsItem {
  border-top: 0.1rem solid var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 0.8rem 1.2rem;
}

.settingsItemList:last-child {
  border-bottom: 0.1rem solid var(--text-primary);
}

.settingsLinks:hover,
.settingsLinks:active {
  background-color: var(--purple-medium);
}

.settingsLinks:link a,
.settingsLinks:visited a {
  color: var(--text-primary);
}

.settingsLinks:hover a,
.settingsLinks:active a {
  color: var(--text-contrast);
}

.settingsItemName {
  font-size: 1.6rem;
}

.settingsItemLink {
  cursor: pointer;
}

.settingsItemLink:hover {
  color: var(--purple-accent); /* Change Colour */
}

.navlink:link,
.navlink:visited,
.navlink:hover,
.navlink:active {
  text-decoration: none;
  color: var(--text-primary);
}

.settingsItemDescription {
  font-size: 1rem;
  color: var(--text-secondary);
}

.icon {
  display: block;
  margin-left: auto;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
}

.editIcon {
  height: 1.6rem;
  width: 1.6rem;
}
