.wordBox {
  width: 90%;
  border-bottom: 0.1rem solid var(--grey-medium);
  margin: 0.8rem 1.2rem 2.4rem 1.2rem;
}

.wordTopSection {
  display: flex;
  align-items: flex-end;
}

.nounClassText {
  font-weight: 400;
}

.editIcon {
  height: 1.6rem;
  width: 1.6rem;
  stroke: var(--grey-medium);
  margin-left: auto;
  cursor: pointer;
}

.pronunciation {
  margin-bottom: 1.2rem;
}

.defintion {
}

.exampleSentenceList {
  list-style: none;
}

.exampleSentence {
  color: var(--text-secondary);
}

.tagsSection {
  display: flex;
}

.tagList {
  list-style: none;
  max-width: 90%;
  display: flex;
  gap: 0.8rem;
  /* overflow-x: scroll; */
  white-space: nowrap;
}

.tagList li {
  /* color: var(--text-contrast); */
  display: inline;
  padding: 0.2rem;
  background-color: var(--blue-faded);
  white-space: nowrap;
}
