/* 

FONT SIZES (in px)
10.24 | 12.8 | 16 | 20 | 25 | 31.25 | 39.06 | 48.83 | 61.04 | 76.3 | 95.37 | 119.21 | 149.02 

SPACING
2 | 4 | 8 | 12 | 16 | 24 | 32 | 48 | 64 | 80 | 96 | 128

*/

:root {
  /* PRIMARY */
  --purple-primary: #ac58ff;
  --purple-faded: #f7eeff;
  --purple-accent: #d6acff;
  --purple-medium: #783eb3;
  --purple-contrast: #301c5e;
  --purple-gradient-start: #501a82;
  --purple-gradient-end: #5952ab;

  /* ACCENT */
  --blue: #0075ff;
  --blue-faded: #e6f1ff;
  --blue-accent: #80baff;
  --blue-medium: #0052b3;
  --blue-contrast: #00234d;

  --grey-accent: #e0e1e9;
  --grey-medium: #86878c;
  --grey-contrast: #434446;
  --black: #161717;

  --text-primary: #08060d;
  --text-secondary: #6b6375;
  --text-contrast: #ffffff;

  --bg: #ffffff;
  --bg-faded: #ffffffd8;
  --red: #f03e3e;

  --font-size: 1.28rem;
  --font-size-h1: 3.125rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.6rem;
  --font-size-small: 1.024rem;

  --max-width: 50rem;

  /* ======================================== */

  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* PRIMARY */
    --purple-primary: #8e49ff; /* Dark Mode */
    --purple-faded: #11091a;
    --purple-accent: #301c5e;
    --purple-medium: #783eb3;
    --purple-contrast: #d6acff;
    --purple-gradient-start: #501a82;
    --purple-gradient-end: #5952ab;

    /* ACCENT */
    --blue: #2476d7; /* Dark Mode */
    --blue-faded: #000c1a;
    --blue-accent: #00234d;
    --blue-medium: #0052b3;
    --blue-contrast: #80baff;

    --grey-accent: #29292b; /* Dark Mode */
    --grey-medium: #86878c;
    --grey-contrast: #f6f6f8;
    --black: #161717;

    --text-primary: #ffffff;
    --text-secondary: #6b6375;
    --text-contrast: #08060d;

    --bg: #16171d;
    --bg-faded: #16171dd8;
    --red: #fa5252;

    /* ======================================== */
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text-primary);
  font-family: "Beiruti", "Asap Condensed", "Baloo Da 2", sans-serif;
  font-size: var(--font-size);
  background-color: var(--bg);
}

input,
textarea,
select {
  font-size: var(--font-size);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.fullpage {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loginBg {
  background: linear-gradient(
    0deg,
    var(--purple-gradient-start) 50%,
    var(--purple-gradient-end) 100%
  );
}

.searchBg {
  background-color: var(--purple-faded);
}

.inactiveTop {
  height: 8%;
  /* background-color: yellow; */
}

.activeBox {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.8rem;
  position: relative;
  /* background-color: pink; */
}

#root {
  height: 100%;
  min-height: -webkit-fill-available;
  /* width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; */
}

/* code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */

h1 {
  font-family: "M PLUS 1 Code", "Beiruti", "Asap Condensed", sans-serif;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.required {
  color: var(--red);
}

.websiteLink:link,
.websiteLink:visited {
  text-decoration: none;
  color: var(--blue-contrast);
}

.websiteLink:hover,
.websiteLink:active {
  text-decoration: none;
}
